
<div class="container">
  <div class="row my-5">
    <div class="col">
      <button (click)="CreateUser()" class="btn btn-primary"> Agregar usuario</button>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>role</th>
          <th>actions</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let user of users">
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{(user.id_rol == '2') ? 'Supervisor': 'Developer '}}</td>
          <td>
            <button (click)="edit(user)" class="btn btn-sm btn-primary mx-2">Edit</button>
            <button (click)="status(user)" [ngClass]="getStatusClass(!user.status)" class="btn btn-sm">
              {{ user.status ? 'Inactivate' : 'Activate' }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
